name: ros2-build

on:
  push:
  pull_request:

env:
  ROS_DISTRO: humble

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: ${{ env.ROS_DISTRO }}

      - name: Install dependencies
        run: |
          rosdep update
          rosdep install --from-paths . --ignore-src -r -y

      - name: Build
        run: |
          source /opt/ros/${ROS_DISTRO}/setup.bash
          colcon build --base-paths . --event-handlers console_direct+
